<launch>
  <arg name="serial_number" default="$(optenv BOXER_KINOVA_SERIAL NOT_SET)" />
  <arg name="arm_type" default="$(optenv BOXER_KINOVA_ARM_TYPE NOT_SET)" />

  <include file="$(find boxer_kinova_bringup)/launch/kinova_robot.launch">
    <arg name="kinova_robotType" value="$(arg arm_type)"/>
    <arg name="kinova_robotName" value="kinova_arm"/>
    <arg name="kinova_robotSerial" value="$(arg serial_number)"/>
  </include>
</launch>
