<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <joint name="franka_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="franka_mount_link" />
    <origin xyz="$(optenv HUSKY_FRANKA_XYZ 0.389 0 0.23135)" rpy="$(optenv HUSKY_FRANKA_RPY 0 0 0)"/>
  </joint>

  <link name="franka_mount_link" />

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:panda_arm connected_to="franka_mount_link"/>

</robot>
